<!-- <div class="alert alert-success" role="alert">
  A simple
</div>

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Dropdown button
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
  </ul>
</div>

<h1>{{title}}</h1>

<div>{{price}}</div>

<div>{{getVal()}}</div>

<div>{{job}}</div>

<div>{{price === 33 ? 'd' : 's'}}</div> -->

<!-- 绑定自定义属性在前面加上 attr. -->
<!-- <span [attr.data-title]="customTitle">一行文字</span> -->

<!-- 绑定多个 class  -->
<!-- <button [class]="btnCls">btnCls</button>
<button [class]="btnCls2">btnCls</button>
<button [class]="btnCls3">btnCls</button> -->

<!-- 也可以用内置指令ngClass,同样支持字符串嘛、数组、对象 -->
<!-- <button [ngClass]="btnCls">btnCls</button>
<button [ngClass]="btnCls2">btnCls</button>
<button [ngClass]="btnCls3">btnCls</button> -->

<!-- <p [style.color]="'#f60'">一段文字</p> -->

<!-- 也可以用内置指令ngStyle, 但不推荐以后可能会弃用 -->
<!-- <p [ngStyle]="style1">style1</p> -->
<!-- <p [ngStyle]="style2">style2</p> -->

<!-- 注意：ngStyle只接收对象 -->
<!-- <p [ngStyle]="style3">style3</p> -->

<!-- 样式优先级
某个类或样式绑定越具体，它的优先级就越高
绑定总是优先于静态属性 -->

<!-- <button type="button" class="btn btn-primary" (click)="onClick($event)">Primary</button> -->

<!-- <app-for> -->


  <!-- <button class="btn btn-primary" (click)="setList()">reset list</button> -->
  <!-- <app-transfer-panel [search]="true" [list]="list" (changed)="onChanged($event)"></app-transfer-panel> -->

<!-- <app-layout></app-layout> -->

<!-- <app-tpl-outlet [render]="customTpl">
<ng-template #customTpl let-def let-val="value">
  template outlet,def:{{def}},value:{{val}}
</ng-template>
</app-tpl-outlet>

<app-view-child></app-view-child>

<app-pipe></app-pipe> -->

<!-- <app-transfer [sourceData]="list"></app-transfer> -->

<!-- <app-test-rx></app-test-rx> -->

<div id="app">
  <!-- <h2>router study</h2>
  <nav>
    <a routerLink="/crisis-center" routerLinkActive="active-link">crisis center</a> |
    <a routerLink="/heroes" routerLinkActive="active-link">heroes</a>
  </nav>
  <router-outlet></router-outlet> -->

  <name-editor></name-editor>

  <profile-editor></profile-editor>
</div>


