<div class="profile-editor">
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <label class="d-block" for="first-name">First Name: </label>
    <input id="first-name" type="text" formControlName="firstName">

    <!-- dirty 表示表单元素是已被用户操作过； -->
    <div *ngIf="firstName.dirty && firstName.errors" class="alert alert-danger">
      <span>请填写 First Name </span>
      <!-- <p>valid : {{ firstName.valid }}</p>
      <p>errors : {{ firstName.errors | json  }}</p> -->
    </div>

    <label class="d-block" for="last-name">Last Name: </label>
    <input id="last-name" type="text" formControlName="lastName">

    <div *ngIf="lastName.dirty && lastName.errors as errors" class="alert alert-danger">
      <span *ngIf="errors['required']">请填写 Last Name </span>
      <span *ngIf="errors['minlength']">至少4个字</span>
      <span *ngIf="errors['forbiddenName']">{{errors['forbiddenName'].value}}</span>

      <!-- 将老版的 lastName.errors.required 改成 lastName.errors['required']  -->
      <!-- <span *ngIf="lastName.errors.required">请填写 Last Name </span>
      <span *ngIf="lastName.errors.minlength">至少4个字</span> -->

      <!-- <p>valid : {{ lastName.valid }}</p>
      <p>errors : {{ lastName.errors | json  }}</p> -->
    </div>

    <p>
    <button class="btn btn-primary" type="submit">submit</button>
    </p>
<!--
    <div formGroupName="address">
      <h2>Address</h2>
      <label class="d-block" for="street">Street: </label>
      <input id="street" type="text" formControlName="street">

      <label class="d-block" for="city">City: </label>
      <input id="city" type="text" formControlName="city">

      <label class="d-block" for="state">State: </label>
      <input id="state" type="text" formControlName="state">

      <label class="d-block" for="zip">Zip Code: </label>
      <input id="zip" type="text" formControlName="zip">

    </div> -->

    <!-- <div formArrayName="aliases">
      <h2>Aliases</h2>
      <button class="btn btn-secondary" type="button" (click)="addAlias()">+ Add alias</button>

      <div *ngFor="let alias of aliases.controls; let i=index">
        <label for="alias-{{ i }}">Alias:</label>
        <input id="alias-{{ i }}" type="text" [formControlName]="i">
      </div>
    </div> -->

    <!-- <button class="btn btn-primary" type="button" (click)="updateProfile()">Update Profile</button> -->

    <div>
      <label>
        mobile:
        <input type="number" formControlName="mobile" />
      </label>
      <div *ngIf="mobile.dirty && mobile.errors as errors" class="alert alert-danger">
        <span *ngIf="errors['required']">请填写手机号</span>
        <span *ngIf="errors['pattern']">格式不正确</span>
        <span *ngIf="errors['exist']">{{ errors['exist'] }}</span>
      </div>
    </div>

    <div formGroupName="newPass">
      <div>
        <label>
          password:
          <input type="text" formControlName="password" />
        </label>
        <div *ngIf="newPass.get('password').dirty && newPass.get('password').errors" class="alert alert-danger">
          <span>请填写密码</span>
        </div>
      </div>
      <div>
        <label>
          rePassword:
          <input type="text" formControlName="rePassword" />
        </label>
        <div *ngIf="newPass.get('rePassword').dirty && newPass.get('rePassword').errors" class="alert alert-danger">
          <span>请再次填写密码</span>
        </div>
        <!-- <p>
          newPass : {{newPass.errors | json}}
        </p> -->
        <div *ngIf="newPass.errors" class="alert alert-danger">
          <span>{{ newPass.errors['equal'] }}</span>
        </div>
      </div>
    </div>

    <button class="btn btn-success" type="submit">submit</button>
  </form>
</div>


